MQTT_BROKER_URL=mqtts://9d21e6711896467cad29580c4e5579d3.s1.eu.hivemq.cloud
MQTT_BROKER_PORT=8883
MQTT_BROKER_USERNAME=dronectrl
MQTT_BROKER_PASSWORD=Gxuvimr123
MQTT_BROKER_TOPIC=nanodrone

JWT_SECRET=sakdljfasldkfjasdklj23423

# DATABASE_URL="mongodb+srv://abhinnvyas:pqIhRhKOiCYNrAIQ@cluster0.cs36bm6.mongodb.net/nanodroone?retryWrites=true&w=majority"
DATABASE_URL="mongodb+srv://abhinnvyas_db_user:RSgQAJHyYUwhpwy7@nandrone.n7341zu.mongodb.net/nanodroone?retryWrites=true&w=majority"

ASSEMBLYAI_API_KEY=4567be82aad64057b2c57cf8826606a6
